demo/*/*.exe
demo/*/*.obj
demo/*/bin/*
example/bin/*
docs/xml
docs/build
docs/src
*.tmp
*.swo
*.swp
.vs/
projects/bin/*
projects/x64/*
projects/*/*.obj
projects/*/*.o
projects/*/*.so
projects/*/*.exe
projects/*/*.dll

